/* base class to encapsule evaluation kb styles */
[class*=columbia-breadcrumb-home-evaluationknowledgebase] {
  /* OrderedSubpages 
	* https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/ViewsCategory/OrderedSubpages
	*/
  /* OrderedSubpages 
	* https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/ViewsCategory/OrderedSubpages
	*/
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] dd.mt-listing-detailed-image {
  margin: 10px 0 0 0;
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] dl.mt-listing-detailed.mt-edit-section {
  margin-bottom: 0;
  padding: 25px 25px 100px 25px;
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] dt.mt-listing-detailed-title a h4 {
  margin-top: 0;
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] dt.mt-listing-detailed-title a {
  border-bottom: 1px solid #eee;
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] .evaluation-kb li.mt-sortable-listing {
  position: relative;
}
[class*=columbia-breadcrumb-home-evaluationknowledgebase] dd.mt-listing-detailed-image {
  position: absolute;
  bottom: 25px;
}
