/* base class to encapsulate partner guide kb styles */
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 36px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 0px;
  letter-spacing: -2;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 30px;
  line-height: 42px;
  margin-top: 42px;
  margin-bottom: 21px;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 22px;
  line-height: 42px;
  margin-top: 21px;
  margin-bottom: 0px;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 16px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0px;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 0px;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container p,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ul,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ol,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container pre,
[class*=columbia-breadcrumb-home-enablement-partnerguide] table,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container blockquote {
  margin-top: 0px;
  margin-bottom: 21px;
  line-height: 21px;
  font-weight: normal;
  font-family: Arial, sans-serif;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ul ul,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ol ol,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ul ol,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container hr {
  border: 1px solid;
  margin: -1px 0;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container b,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container strong,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container em,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container small,
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container code {
  line-height: 1;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container sub {
  bottom: -0.25em;
}
[class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container a {
  color: #268ED9;
}
@media screen and (max-width: 680px) {
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container .top-nav {
    width: 100%;
  }
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container .elm-content-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container .evaluation-kb {
    padding: 0 8% 0 8%;
  }
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container,
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-toc-container,
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .elm-content-container header,
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-toggle-container {
    margin: 0;
    width: 100%;
  }
  [class*=columbia-breadcrumb-home-enablement-partnerguide] .mt-content-container .page {
    display: block;
    padding: 5px 15px 5px 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 6px;
    background: #efefef;
    width: auto;
    text-decoration: none;
    font-weight: bold;
    color: #666;
  }
}
