.top-nav {
    display:block;
    margin-top:0;
}

.breadcrumb {
    margin-top:0px !important;
    padding-left:20px
}

.elm-header-custom {
    margin-top: 0px;
}

.columbia-article-topic-guide .elm-meta-data  {
    display:none;
}

@media (max-width:18.75em) {
    .page {
        display: block;
        padding: 5px 15px 5px 15px;
        border-radius: 4px;
        margin-top: 6px;
        background: #ECEFF1;
        width: auto;
        text-decoration: none !important;
    }
    .parent.crumb a {
        text-decoration: none !important;
    }
    .breadcrumb .page:nth-child(2) {
        margin-left: 10px;
    }
    .breadcrumb .page:nth-child(3) {
        margin-left: 25px;
    }
    .breadcrumb .page:nth-child(4) {
        margin-left: 35px;
        line-height: 1.4;
        font-weight: bold;
        color: #7A878B;
    }
    .breadcrumb {
        border-bottom: 1px solid #E7ECED;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #fff;
        border-radius: 4px;
        margin: 0px !important;
        width: 100%;
        margin-left: -10px !important;
    }
    #title {
        line-height: 1.2 !important;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 260%;
    }
    [class*=columbia-breadcrumb-home-evaluation].body-with-sidebar article#elm-main-content {
        padding: 8% !important;
    }
    p {
        font-size: 16px !important;
        color: #000 !important;
        line-height: 1.4 !important;
    }
    h1 {
        color: black !important;
    }
    h2 {
        color: black !important;
        padding-bottom: 0.2rem !important;
    }
    h2 + p {
        margin-top: 10px !important;
    }
    .mt-summary-toggle {
        font-size: 16px !important;
        color: #BDC5C7 !important;
    }
}

@media all and (max-width: 47.5em) {
  .page {    
    display: block;    
    padding: 5px 15px 5px 15px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    -webkit-border-radius: 4px;
    border-radius: 4px;    
    margin-top: 6px;    
    background: #efefef;    
    width: auto;    
    text-decoration: none;    
    font-weight: bold;    
    color: #666;
  }
  .parent.crumb a {    
    text-decoration: none;    
    color: #08C;
  }
  .breadcrumb .page:nth-child(2) {    
    margin-left: 5px;
  }
  .breadcrumb .page:nth-child(3) {    
    margin-left: 10px;
  }
  .breadcrumb .page:nth-child(4) {    
    margin-left: 35px;    
    line-height: 1.4;    
    font-weight: bold;    
    color: #7A878B;
  }
  .breadcrumb {    
    border-bottom: 1px solid #E7ECED;    
    padding: 10px;    
    padding-top: 0px;    
    padding-bottom: 30px;    
    background: #fff;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    -webkit-border-radius: 4px;    -webkit-border-radius: 4px;
    border-radius: 4px;    
    margin: 0px;    
    width: 100%;    
    margin-left: -10px;
  }
  .elm-pdf-export {    
    display: none !important;
  }
  [class*=columbia-breadcrumb-home-evaluation] h1 {    
    margin-bottom: 0 !important;
  }
  .mt-toggle-container {    
    margin-left: 20px !important;    
    display: none !important;
  }
  .evaluation-hero p {    
    line-height: 1.4 !important;    
    display: none !important;
  }
  .evaluation-hero h1 {    
    margin-top: 30px !important;    
    line-height: 1.3 !important;    
    margin-bottom: 20px !important;
  }
  .mt-page-summary {    
    font-size: 16px !important;    
    margin-top: 20px !important;    
    margin-bottom: 15px !important;    
    line-height: 1.6 !important;
  }
  .columbia-article-topic-guide h1 {    
    margin-top: 15px !important;
  }
  p {    
    font-size: 16px !important;    
    color: #000 !important;    
    line-height: 1.4 !important;
  }
  h1 {    
    color: black !important;    
    line-height: 1.1 !important;
  }
  h2 {    
    color: black !important;    
    padding-bottom: 0.2rem !important;
  }
  h2 + p {    
    margin-top: 10px !important;
  }
  .mt-summary-toggle {    
    font-size: 16px;    
    color: #BDC5C7;
  }
  #title {    
    border: none;    
    margin-bottom: 0;
  }
}