/* base class to encapsule evaluation kb styles */
[class*=columbia-breadcrumb-home-evaluationknowledgebase] {

	/* 
	OrderedSubpages 
	https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/ViewsCategory/OrderedSubpages
	*/
	dd.mt-listing-detailed-image {
		margin: 10px 0 0 0;
	}
	dl.mt-listing-detailed.mt-edit-section {
		margin-bottom: 0;
		padding: 25px 25px 100px 25px;
	}
	dt.mt-listing-detailed-title a h4 {
		margin-top: 0;
	}
	dt.mt-listing-detailed-title a {
		border-bottom: 1px solid #eee;
	}
	.evaluation-kb li.mt-sortable-listing {
		position: relative;
	}
	dd.mt-listing-detailed-image {
		position: absolute;
		bottom: 25px;
	}

	/* 
	Evaluation Guide Topics 
	https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/EvaluationGuideTopics
	*/
	.more-related ul.related-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.more-related ul.related-list li.related-item a {
		padding: 15px 20px;
		border: 1px solid #EEE;
		border-radius: 3px;
		-webkit-box-shadow: 0px 1px 2px 0px #EEEEEE;
		-moz-box-shadow: 0px 1px 2px 0px #EEEEEE;
		box-shadow: 0px 1px 2px 0px #EEEEEE;
		margin-bottom: 5px;
		display: block;
	}

	/* 
	Evaluation HomePage HeroHeader 
	https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/Evaluation_HomePage_HeroHeader
	*/
	nav.elm-header-global-nav.elm-nav {
		display: none;
		visibility: hidden;
	}
	ol.elm-meta-data.elm-meta-top {
		display: none;
		visibility: hidden;
	}
	header h1#title {
		display: none;
		visibility: hidden;
	}
	input#kb-search {
		padding: 15px;
	}
	input#dummy-search {
		margin-top: 8px;
	}
	.evaluation-kb li.mt-sortable-listing {
		border: 1px solid #EEE;
		border-radius: 3px;
		-webkit-box-shadow: 0px 1px 2px 0px #EEEEEE;
		-moz-box-shadow: 0px 1px 2px 0px #EEEEEE;
		box-shadow: 0px 1px 2px 0px #EEEEEE;
	}
	.evaluation-kb span.mt-icon-article-topic-guide {
		display: none;
		visibility: hidden;
	}
	.evaluation-hero {
		background-color: #EFEFF1;
	}
	.evaluation-hero p {
		color: #777;
	}
	.evaluation-hero .text {
		-ms-flex: 1 1 36.5em;
		-webkit-flex: 1 1 36.5em;
		flex: 1 1 36.5em;
		min-width: 0;
	}
	.evaluation-hero .form-field {
		-ms-flex: 1 1 36.5em;
		-webkit-flex: 1 1 36.5em;
		flex: 1 1 36.5em;
		min-width: 0;
		padding-left: 100px;
	}
	.evaluation-hero .elm-content-container {
		justify-content: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
	}

	/* 
	SearchBar 
	https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/SearchBar
	*/
	.recommended-articles {
		overflow-wrap: break-word;
		padding: 35px 25px;
		margin-bottom: 15px;
		position: absolute;
		background-color: white;
		z-index: 9999999;
		border: 4px solid #727272;
		margin-top: 5px;
		border-radius: 10px;
	}
	.form-field {
		position: relative;
		z-index: 99999;
	}
	.recommended-articles:before, .recommended-articles:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		left: 10px;
		z-index: 999;
	}
	.recommended-articles:before {
		top: -15px;
		border-left: 15px solid rgba(0, 0, 0, 0);
		border-right: 15px solid transparent;
		border-bottom: 14px solid #727272;
		left: 5px;
	}
	.recommended-articles:after {
		top: -10px;
		border-left: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid transparent;
		border-bottom: 10px solid white;
	}
	.autocomplete-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		z-index: 10;
		opacity: .5;
		display: none;
	}
	input#kb-search {
		z-index: 99;
		position: relative;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.form-field .input-wrapper {
		position: relative;
	}
	#dummy-search {
		z-index: 9999;
	}
}