/* base class to encapsule evaluation kb styles */
[class*=columbia-breadcrumb-home-evaluationknowledgebase] {

	/* OrderedSubpages 
	* https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/ViewsCategory/OrderedSubpages
	*/
	dd.mt-listing-detailed-image {
		margin: 10px 0 0 0;
	}
	dl.mt-listing-detailed.mt-edit-section {
		margin-bottom: 0;
		padding: 25px 25px 100px 25px;
	}
	dt.mt-listing-detailed-title a h4 {
		margin-top: 0;
	}
	dt.mt-listing-detailed-title a {
		border-bottom: 1px solid #eee;
	}
	.evaluation-kb li.mt-sortable-listing {
		position: relative;
	}
	dd.mt-listing-detailed-image {
		position: absolute;
		bottom: 25px;
	}




	/* OrderedSubpages 
	* https://success.outsystems.com/Template:0Template%3AOutSystems/Evaluation_KB/ViewsCategory/OrderedSubpages
	*/



}